
<div  >
  <h1 class="mx-auto w-25 p-3 text-center">Subasta Solidaria</h1>
  <h1 class="mx-auto w-25 p-3 text-center">Proximamente</h1>
  <h3 class="mx-auto w-50 p-3 text-center">Registrate y participa con nosotros en esta noble causa!!!</h3>
</div>
