<div>
  <h1 class="mx-auto mt-4 text-center">Subasta Solidaria</h1>
  <h4 class="mx-auto text-center">En el marco del Buen Fin Solidario</h4>
  <h1 class="mx-auto py-3 text-center">Próximamente</h1>
  <h4 class="mx-auto py-3 text-center"><%= link_to "¡Regístrate y participa en esta contrapropuesta solidaria!".html_safe, new_registration_path(:user), :style => "color:black" %> </h4>
</div>

