<p>Hola <%= @resource.email %>!</p>
<br>	

<p>Has solicitado un enlace para cambiar su contraseña. Puede hacerlo p través del siguiente enlace.</p>
<br>
<p> <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p> Si no lo ha solicitado, ignore este mensaje.l.</p>
<p>Tu contraseña no cambiará hasta que accedas al enlace anterior y crees una nueva.</a>

