<p class="mx-auto w-50 p-3">Hola <%= @resource.email %>!</p>
<br>	

<p class="mx-auto w-50 p-3"> Has solicitado un enlace para cambiar su contraseña. Puede hacerlo p través del siguiente enlace.</p>
<br>
<p class="mx-auto w-50 p-3"> <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p class="mx-auto w-50 p-3"> Si no lo ha solicitado, ignore este mensaje.l.</p>
<p class="mx-auto w-50 p-3">Tu contraseña no cambiará hasta que accedas al enlace anterior y crees una nueva.</a>

