
<div class="d-inline-flex p-2 bd-highlight">
	<div class="row justify-content-md">
		<p class="mx-auto w-50 p-3">Hola <%= @resource.email %>!</p>

		<p class="mx-auto w-50 p-3">Alguien ha solicitado un enlace para cambiar su contraseña. Puede hacerlo p través del siguiente enlace.</p>

		<p class="mx-auto w-50 p-3"> <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

		<p class="mx-auto w-50 p-3"> Si no lo ha solicitado, ignore este mensaje.l.</p>
		<p class="mx-auto w-50 p-3">Tu contraseña no cambiará hasta que accedas al enlace anterior y crees una nueva.</a>
	</div>
</div>

