<h1 class="text-center">Editar el producto</h1>

<%= render 'form', product: @product %>
<div class="text-center">
  <%= link_to 'Ver', @product %> |
  <%= link_to 'Regresar', products_path %>
</div>
