<div class="container col-5 col-md-6 col-sm-12 mx-auto form-inline justify-content-center">

  <div class="col-1 col-md-2 col-sm-12">
    <div class="row text-center">
      <h1 id="cronometroDay"></h1>
    </div>
    <div class="row col-12 text-center">Dias</div>
  </div>

  <div class="col-1 col-md-2 col-sm-12">
    <div class="row text-center">
       <h1 id="cronometroHh"></h1>
    </div>
    <div class="row col-12 text-center">Hrs</div>
  </div>

  <div class="col-1 col-md-2 col-sm-12">
    <div class="row text-center">
      <h1 id="cronometroMm"></h1>
    </div>
    <div class="row col-12 text-center">Min</div>
  </div>

  <div class="col-1 col-md-2 col-sm-12">
    <div class="row text-center">
      <h1 id="cronometroSs"></h1>
    </div>
    <div class="row col-12 text-center">Seg</div>
  </div>
</div>

<script type="text/javascript">
  var contador
  var stopWatch
  var stringTime

  function secondsToString(contador){
    d = Math.floor(contador/86400)
    day = (d<10)? '0'+ d:d;
    hh = Math.floor((contador / 3600)%24);
    hour = (hh < 10)? '0' + hh : hh ;
    mm = Math.floor((contador / 60) % 60);
    minute = (mm < 10)? '0' + mm : mm;
    ss = contador % 60;
    second = (ss < 10)? '0' + ss : ss;
    return day + ":" + hour + ":" + minute + ":" + second;
  };
   
  function updateDisplay(){
    endTimer = new Date(2021,10,18,12)
    startTimer = new Date()
    contador = Math.floor((endTimer.getTime()-startTimer.getTime())/1000)
    clearInterval(stopWatch)
    stopWatch = setInterval(updateDisplay,1000)
    if (contador == 0) {
      return "00:00:00:00"
    }else{
      contador--;
    };
    stringTime = secondsToString(contador);
    document.getElementById("cronometroDay").innerHTML = day  
    document.getElementById("cronometroHh" ).innerHTML = "&nbsp&nbsp" + hour
    document.getElementById("cronometroMm" ).innerHTML = ":" + minute 
    document.getElementById("cronometroSs" ).innerHTML = ":" + second
  }; 
    
    updateDisplay();

</script>
